.page_wrapper {
  width: 100%;
  .container {
    display: flex;
    width: 100%;
    .home_content {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: start;
      flex-direction: column;

      padding: 2rem 0;

      h1 {
        padding: 2rem 0;
        font-size: 40px;
        color: #21201f;
      }
      .form {
        display: flex;
        justify-content: center;
        flex-direction: column;

        width: 60%;

        padding: 2rem;

        border: solid 1px rgb(189, 189, 189);
        border-radius: 13px;

        gap: 2.9rem;

        &:hover {
          box-shadow: 0 0 15px rgb(255, 255, 255);
        }

        .label {
          color: black;
          width: 100%;
          margin-bottom: 13px;
          font-weight: 100;
          font-family: sans-serif;
          .input,
          .message {
            border-radius: 9px;
            width: 98%;
            border: none;

            padding: 1rem 10px;
            background-color: #ffffff08;
            color: black;
            border: 1px solid rgb(189, 189, 189);

            &:focus {
              outline: 1px solid rgb(4, 50, 255);
            }
          }
        }
        .message {
          font-family: "Rubik", sans-serif;
          min-height: 174px;
          padding: 1rem;
          resize: none;
        }
        .button {
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          padding: 1rem;
          border-radius: 13px;
          transition: 0.3s;
          background-color: #21201f;
          color: white;
          border: none;

          &:hover {
            background-color: #000000;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
}
@media (max-width: 705px) {
  .page_wrapper {
    .container {
      .home_content {
        display: flex;
        flex-direction: column;
        .form {
          width: 100%;
        }
      }
    }
  }
}
.modal {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 350px;
  padding: 20px;
  background: -webkit-linear-gradient(-70deg, #ea00ff 0%, #6d2aff 100%);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.modalOverlay {
  background-color: transparent;
}
