.Page_Wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 300px;
  background-color: #f3f3f3;
  padding: 10px 0;
  left: 0;
  .container {
    display: flex;
    justify-content: center;
    align-items: start;

    .Drop_Box {
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px;
      border-radius: 20px;
      border: solid 1px #ececec;
      background-color: #fff;

      .Drop_Vs_Box {
        border-radius: 10px;
        cursor: pointer;
        color: rgb(0, 0, 0);
        width: 20rem;
        padding: 20px 20px;
        font-weight: 100;
        display: flex;
        justify-content: start;
        align-items: center;

        svg {
          margin-right: 6px;
          color: rgb(0, 0, 0);
        }

        &:hover {
          background-color: #e8e8e8a5;
        }
      }

      .Drop_Uvs_Box {
        background-color: #eee9f8;
        border-radius: 10px;
        cursor: pointer;
        color: #7e50e1;
        width: 20rem;
        padding: 20px 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        svg {
          margin-right: 6px;
          color: #7e50e1;
        }
      }
    }
  }
  .Content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-height: 100%;

    display: none;

    .players {
      width: 60rem;
      margin-bottom: 10px;
      display: flex;
      justify-content: start;
      align-items: center;
      padding: 14px;
      position: relative;
      background-color: #fff;
      border-radius: 20px;
      border: solid 1px #ececec;
      h1 {
        font-weight: 100;
        font-size: 18px;

        span {
          background-color: #7e50e1;
          color: white;
          padding: 5px 10px;
          border-radius: 10px;
        }

        .Cusrom {
          background: linear-gradient(to right, gold, rgb(232, 151, 0));
        }
        .Cusrom_2 {
          background: linear-gradient(to right, rgb(0, 174, 255), rgb(0, 23, 232));
        }
      }
    }
  }
  .Active_Content {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    max-width: 100%;
    min-height: 100vh;

    position: relative;
  }
}
