.ready_box {
  margin-top: 70px;

  width: 100%;
  background: #fbfbfb;
  border: solid 1px #ececec;
  border-radius: 40px;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 50px;
  }

  .Btn_Wrapper {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 24px;
    .App_But {
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 500;
      font-size: 18px;
      background-color: #fefefe;
      border: 1px solid #ececec;
      padding: 1rem 4rem;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        background-color: #d6d6d6;
        color: rgb(101, 101, 101);
      }
    }
    .Discord_Add {
      background-color: #7e50e1;
      color: white;

      &:hover {
        background-color: #8e59ff;
        color: rgb(255, 255, 255);
      }
    }
  }
}
