.Slider_Wrapper {
  width: 100%;
  margin-top: 50px;
  padding: 0;

  .mySwiper {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .Slider {
      height: 65vh;
      border-radius: 30px;
      padding: 0;
      width: 100%;
      text-align: center;
      font-size: 18px;
      background: white;
      border: solid 1px #ececec;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 10px white;

      .mislide_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        svg {
          font-size: 80px;
          color: #21201f;
        }

        h1 {
          width: 60%;
          font-size: 30px;
          color: #21201f;
        }
      }
    }
  }
}
.Slider_Wrapper_laptop {
  display: none;
}
.Slider_Wrapper_phone {
  display: none;
}

@media (max-width: 1156px) {
  .Slider_Wrapper {
    display: none;
  }
  .Slider_Wrapper_laptop {
    display: flex;
    width: 100%;
    padding: 0;

    .mySwiper {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .Slider {
        height: 65vh;
        border-radius: 30px;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background: #fbfbfb;
        border: solid 1px #ececec;
        display: flex;
        justify-content: center;
        align-items: center;

        .mislide_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          svg {
            font-size: 80px;
            color: #21201f;
          }

          h1 {
            width: 60%;
            font-size: 30px;
            color: #21201f;
          }
        }
      }
    }
  }
  .Slider_Wrapper_phone {
    display: none;
  }
}
@media (max-width: 700px) {
  .Slider_Wrapper {
    display: none;
  }
  .Slider_Wrapper_laptop {
    display: none;
  }
  .Slider_Wrapper_phone {
    display: flex;
    width: 100%;
    padding: 0;

    .mySwiper {
      width: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;

      .Slider {
        height: 65vh;
        border-radius: 30px;
        padding: 0;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background: #fbfbfb;
        border: solid 1px #ececec;
        display: flex;
        justify-content: center;
        align-items: center;

        .mislide_wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          svg {
            font-size: 80px;
            color: #21201f;
          }

          h1 {
            width: 60%;
            padding: 20px 0;
            font-size: 30px;
            color: #21201f;
          }
        }
      }
    }
  }
}
