.About_wrapper {
  margin-top: 70px;

  width: 100%;
  min-height: 300px;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: solid 1px #ececec;
  border-radius: 40px;
  background: #fbfbfb;

  .Info {
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 70px;
    }
  }
}
