.Slider_Wrapper {
  width: 100%;
  padding: 0;

  .mySwiper {
    width: 100%;
    background: #fbfbfb;
    border: solid 1px #ececec;
    border-radius: 40px;

    .Slider {
      padding: 30vh 0;
      width: 100%;
      text-align: center;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
