@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rubik&display=swap");

* {
  text-decoration: none;
  font-style: none;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  z-index: 100000000000000000000;
  background-color: #f3f3f3;

  &.active {
    padding: 0;
    background-color: #f3f3f3;
    box-shadow: 0 2px 8px 3px rgba(0, 0, 0, 0.02);
  }

  .header_wrapper {
    width: 86%;
    display: flex;
    justify-content: start;

    padding: 1px;
    .logo {
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      img {
        width: 60px;
      }
    }
    .links {
      display: flex;
      width: 100%;
      padding: 10px;
      .linksD {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-family: "Kanit", sans-serif;
        font-family: "Rubik", sans-serif;
        padding: 10px;
        color: rgb(0, 0, 0);
        font-size: 20px;
        position: relative;
        margin: 3px;
        transition: 0.3s;

        &::before {
          content: "";
          width: 0;
          height: 2px;
          background-color: #5865f2;
          position: absolute;
          top: 90%;
          transform: translateY(-50%);
          transition: width 0.3s ease;
          left: 0;
          right: 100%;
          opacity: 1;
        }

        &:hover:nth-child(2):before {
          width: 126px;
          left: 0;
          opacity: 1;
          right: 0;
        }
        &:hover:nth-child(1):before {
          width: 180px;
          opacity: 1;
          left: 0;
        }
        &:hover:nth-child(3):before {
          width: 106px;
          opacity: 1;
          left: 0;
        }

        &:hover {
          color: #5865f2;
        }

        &:nth-child(3) {
          background: -webkit-linear-gradient(-70deg, #9000ff 0%, #ff00c3 100%);
          background-clip: border-box;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
}
