.page_wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;

  .container {
    width: 86%;
    .home_content {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: start;
      background-color: #f3f3f3;
      padding: 0 0 100px 0;
    }
  }
}
