@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rubik&display=swap");

footer {
  .footer_cont {
    display: none;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    border: none;
    h1 {
      padding: 10px;
      color: rgb(0, 0, 0);
      font-size: 17px;
      font-weight: 100;
      font-family: "Kanit", sans-serif;
      font-family: "Rubik", sans-serif;
    }
  }
}
