@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rubik&display=swap");

footer {
  .footer_cont {
    display: flex;
    position: relative;
    width: 100%;
    padding: 15px 30px;
    justify-content: end;
    align-items: center;
    background-color: #f3f3f3;
    border: none;
    h1 {
      padding: 10px;
      color: rgb(0, 0, 0);
      font-size: 15px;
      font-weight: 200;
      font-family: "Kanit", sans-serif;
      font-family: "Rubik", sans-serif;
    }
    .Designed {
      color: black;
      font-weight: 600;
      border-radius: 7px;

      &:hover {
        background: rgb(0, 0, 0);
        color: white;

        a {
          color: white;
        }

        span {
          background: white;
          color: black;
        }
      }
    }
    a {
      color: black;
    }
    span {
      font-weight: 600;
      padding: 5px 10px;
      border-radius: 6px;
      background-color: black;
      color: white;
    }
  }
}
