@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rubik&display=swap");

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px black;
  flex-direction: column;
  z-index: 9999;

  h3 {
    font-size: 40px;
    color: rgb(113, 113, 113);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-right: -10px;
    margin-top: 10px;
    text-transform: uppercase;
    animation: shadow_anim 3s ease;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
    font-family: "Rubik", sans-serif;
  }

  @keyframes shadow_anim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      text-shadow: none;
      text-shadow: 0 0 10px rgb(0, 0, 0);
    }
    100% {
      opacity: 1;
      color: black;
    }
  }

  img {
    position: absolute;
    margin-bottom: 140px;
    width: 130px;
    animation: rotate 4s linear infinite;
  }
}

// @keyframes rotate {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

.loader > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
