@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Kanit:600,600italic,700,700italic,800,800italic,900,900italic);

// :root {
//   --size: 1px;
// }

// html {
//   font-size: --(size);
// }

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    131.01deg,
    #9d49f2 12.15%,
    #7d62fb 75.57%,
    #706cff 97.89%
  );
  z-index: 9999;
}
* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

::selection {
  background-color: #50aaff73;
}
// ::-webkit-scrollbar {
//   width: 10px;
// }
// ::-webkit-scrollbar-track {
//   background: rgb(162, 162, 162);
// }
// ::-webkit-scrollbar-thumb {
//   background: rgb(104, 104, 104);
//   border-radius: 0 0 3px 3px;
// }

::-webkit-scrollbar {
  width: 4px;
  background-color: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  background: rgb(96, 96, 96);
}
::-webkit-scrollbar-track {
  background: var(--bg-3);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  outline: none;
}
