@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Kanit:600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: "Kanit", sans-serif;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

::selection {
  background-color: #50aaff73;
}
// ::-webkit-scrollbar {
//   width: 10px;
// }
// ::-webkit-scrollbar-track {
//   background: rgb(162, 162, 162);
// }
// ::-webkit-scrollbar-thumb {
//   background: rgb(104, 104, 104);
//   border-radius: 0 0 3px 3px;
// }

::-webkit-scrollbar {
  width: 4px;
  background-color: #f3f3f3;
}
::-webkit-scrollbar-thumb {
  background: rgb(96, 96, 96);
}
::-webkit-scrollbar-track {
  background: var(--bg-3);
}
